.footer{
	background: $black;

	.wrapper{
		color: $dgrey;
		width: 90%;

		display: flex;
		justify-content: space-between;
		padding: 3em 0;

		p{
			height: 24px;
			line-height: 24px;

			i{
				vertical-align: middle;
			}
		}

		a{
			color: $dgrey;
			text-decoration: none;
			transition: $transition;

			&:hover{
				color: $white;
			}
		}
	}
}
