#header{
	background: $white;
	box-shadow: shadow(1);
	position: relative;
	z-index: 10;

	.header{
		padding: 1em;
		letter-spacing: -3px;
		line-height: 5em;

		h1{
			color: $blue;
		}

		.wrapper{
			display: flex;
			align-items: center;

			.logo{
				max-width: 250px;
				width: 100%;
			}
		}
	}
}
